.wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    // margin-bottom: 40px;

    .btn-wrapper {
        .switch {
            font-size: 17px;
            position: relative;
            display: inline-block;
            width: 64px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-primary);
            transition: 0.4s;
            border-radius: 30px;
        }

        .slider:before {
            position: absolute;
            content: '';
            height: 30px;
            width: 30px;
            border-radius: 20px;
            left: 2px;
            bottom: 2px;
            z-index: 2;
            background-color: #e8e8e8;
            transition: 0.4s;
        }

        .sun svg {
            position: absolute;
            top: 6px;
            left: 36px;
            z-index: 1;
            width: 24px;
            height: 24px;
        }

        .moon svg {
            fill: var(--color-primary);
            position: absolute;
            top: 5px;
            left: 5px;
            z-index: 1;
            width: 24px;
            height: 24px;
        }

        /* .switch:hover */
        .sun svg {
            animation: rotate 15s linear infinite;
        }

        @keyframes rotate {
            0% {
                transform: rotate(0);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* .switch:hover */
        .moon svg {
            animation: tilt 5s linear infinite;
        }

        @keyframes tilt {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(-10deg);
            }

            75% {
                transform: rotate(10deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        .input:checked + .slider {
            background-color: #183153;
        }

        .input:focus + .slider {
            box-shadow: 0 0 1px #183153;
        }

        .input:checked + .slider:before {
            transform: translateX(30px);
        }
    }

    .slider-wrapper {
        margin-top: 40px;

        display: flex;
        justify-content: center;

        position: relative;

        width: 900px;
        height: 250px;
        overflow: hidden;

        margin-bottom: 10px;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            left: -70px;
            z-index: 10;

            width: 40px;
            height: calc(100% + 20px);

            backdrop-filter: blur(5px);
            background-color: var(--color-bgd-100);
            opacity: 0.5;
            box-shadow: 50px 0px 20px black;
        }

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            right: -70px;
            z-index: 10;

            width: 40px;
            height: calc(100% + 20px);

            backdrop-filter: blur(5px);
            background-color: var(--color-bgd-100);
            opacity: 0.5;
            box-shadow: -50px 0px 20px black;
        }

        .swiper {
            transition-duration: 10000ms !important;
        }

        img {
            width: 450px;
            height: 250px;

            border-radius: 10px !important;
            object-fit: contain !important;
        }
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        .slider-wrapper {
            margin-top: 30px;
            width: 80%;
            // height: 250px;

            img {
                width: 100%;
                height: 100%;

                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        .slider-wrapper {
            margin-top: 0px;
            width: 100%;
            // height: 150px;

            img {
                width: 100%;
                height: 100%;

                border-radius: 10px;
            }
        }
    }
}
